@import "_variables";
.pagination__inner {
    border: 1px solid $pagination-color;
}

.pagination__button {
    border: none;
    background: transparent;
}

.pagination__arrow {
    width: 8px;
    height: 14px;
    fill: #000;
}
.pagination__link {
    border: none;
    background: transparent;
    padding-left: 20px;
    color: $pagination-color;

    &:last-child {
        padding-left: 0;
    }
}

.pagination__ellipsis {
    color:$pagination-color;
}